.about-banner {
	text-align: center;
	margin: 2rem 0;
}

.about-banner img {
	width: 8rem;
}

.about-banner h1 {
	margin: 1rem 0;
}

.credits {
	display: table;
}

.credits td:first-child {
	width: 50%;
}
