:root {
	--text: #e0e0e0;
	--accent: #58a6ff;

	--input-bg: #ffffff10;
	--input-border: #808080;

	--button-bg: transparent;
	--button-text: #58a6ff;
	--button-border: #58a6ff;
	--button-bg-hover: #58a6ff;
	--button-text-hover: #e0e0e0;

	--list-divider: #ffffff20;
	--list-item-bg-hover: #ffffff10;

	color-scheme: dark;
}

* {
	transition: .2s;
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(1rem)
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

body {
	font-size: 1.25rem;
	font-family: sans-serif;
	color: var(--text);
}

body:not(.index) {
	max-width: 50rem;
	margin: 1rem auto;
	padding: 0 1rem;
	background-color: transparent;
	animation: fade-in .5s;
}

a {
	color: var(--accent);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

button, .button {
	border: 2px solid var(--button-border);
	border-radius: .5rem;
	font-size: 1rem;
	color: var(--button-text);
	background: var(--button-bg);
	padding: .25rem .5rem;
	cursor: pointer;
}

button:hover {
	color: var(--button-text-hover);
	background: var(--button-bg-hover);
}

input:not([type=range]) {
	border: 2px solid var(--input-border);
	border-radius: .5rem;
	font-size: 1rem;
	width: 4rem;
	color: var(--text);
	background: var(--input-bg);
	padding: .25rem .5rem;
}

input:not([type=range]):focus {
	border: 2px solid var(--accent);
}

table {
	margin: 1rem 0;
	border-spacing: 0;
	display: none;
	width: 100%;
}

thead th {
	border-bottom: 2px solid var(--list-divider);
	text-align: left;
	font-size: 1rem;
	color: #a0a0a0;
	text-transform: uppercase;
	padding: 0 .5rem;
}

tbody tr:hover {
	background: var(--list-item-bg-hover);
}

tbody td {
	border-bottom: 1px solid var(--list-divider);
	padding: .5rem;
}
