#search-bar {
	display: flex;
	gap: .5rem;
	justify-content: center;
}
#search-box {
	flex: 1 1 auto;
}
#search-bar button {
	flex: 0 0 auto;
}
#search-result td:nth-child(5) {
	white-space: nowrap;
}

@media only screen and (max-width: 38rem) {
	#search-result thead {
		display: none;
	}

	#search-result tr {
		padding: .5rem;
		display: block;
		border-bottom: 2px solid var(--list-divider);
	}

	#search-result td {
		width: auto !important;
		padding: 0;
		border-bottom: none;
	}
	#search-result td:nth-child(1) {
		display: block;
		font-weight: bolder;
	}
	#search-result td:nth-child(2) {
		display: inline;
		font-size: 1rem;
	}
	#search-result td:nth-child(3)::before {
		content: ' - ';
	}
	#search-result td:nth-child(3) {
		display: inline;
		font-size: 1rem;
	}
	#search-result td:nth-child(4) {
		display: none;
	}
	#search-result td:nth-child(5) {
		display: block;
		text-align: right;
	}
}
