@font-face {
	font-family: 'portastream-icons';
	src: url('../res/portastream-icons.eot?mftsul');
	src: url('../res/portastream-icons.eot?mftsul#iefix') format('embedded-opentype'),
		url('../res/portastream-icons.ttf?mftsul') format('truetype'),
		url('../res/portastream-icons.woff?mftsul') format('woff'),
		url('../res/portastream-icons.svg?mftsul#portastream-icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'portastream-icons' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-volume:before {
	content: "\e903";
}
.icon-music:before {
	content: "\e900";
}
.icon-file-text:before {
	content: "\e901";
}
.icon-file:before {
	content: "\e901";
}
.icon-document:before {
	content: "\e901";
}
.icon-list:before {
	content: "\e901";
}
.icon-paper:before {
	content: "\e901";
}
.icon-mute:before {
	content: "\e902";
}
.icon-fullscreen:before {
	content: "\e904";
}
.icon-shuffle:before {
	content: "\e905";
}
.icon-loop:before {
	content: "\e906";
}
.icon-pause:before {
	content: "\e907";
}
.icon-previous:before {
	content: "\e908";
}
.icon-next:before {
	content: "\e909";
}
.icon-history:before {
	content: "\e94d";
}
.icon-search:before {
	content: "\e986";
}
.icon-settings:before {
	content: "\e994";
}
.icon-list1:before {
	content: "\e9ba";
}
.icon-plus:before {
	content: "\ea0a";
}
.icon-info:before {
	content: "\ea0c";
}
.icon-exit:before {
	content: "\ea14";
}
.icon-play:before {
	content: "\ea1c";
}
.icon-pencil:before {
	content: "\e90a";
}
.icon-spinner:before {
	content: "\e984";
}
.icon-bin:before {
	content: "\e9ac";
}
