:root {
	--bg: #101010;
	/* linear-gradient(#000000c0, #000000c0), url("../res/test.jpg") center no-repeat; */

	--sidebar-bg: #ffffff10;
	--sidebar-text: #e0e0e0;
	--sidebar-head: #ffffff20;
	--sidebar-tab-bg: transparent;
	--sidebar-tab-bg-hover: #ffffff20;
	--sidebar-tab-bg-selected: #ffffff30;

	--popup-bg: #202020;
}

body.index {
	background: var(--bg);
	margin: 0;
}

#app {
	display: flex;
	height: 100vh;
}

.sidebar {
	flex: 0 0 14rem;
	color: var(--sidebar-text);
	background: var(--sidebar-bg);
	display: flex;
	flex-direction: column;
	backdrop-filter: blur(1rem);
}

.sidebar-head {
	text-align: center;
	background: var(--sidebar-head);
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: .5rem;
}

.sidebar-head img {
	width: 2rem;
}

.sidebar-head span {
	font-size: 1.5rem;
	font-weight: bolder;
}

#tabs {
	overflow: scroll;

	display: flex;
	flex-direction: column;

	padding: .5rem;
	gap: .5rem;
}

#tabs a {
	background: var(--sidebar-tab-bg);
	color: var(--text);

	text-decoration: none;
	cursor: pointer;

	border-radius: .5rem;
	
	display: flex;
	gap: .75rem;
	align-items: center;

	padding: .75rem;
}

#tabs a:hover {
	background: var(--sidebar-tab-bg-hover);
}

#tabs a.selected {
	background: var(--sidebar-tab-bg-selected);
}

#content {
	flex: 1 1 auto;
	border: none;
}

#popup {
	z-index: 1;
	display: none;
	opacity: 0;
	background: rgba(0, 0, 0, .5);
	position: fixed;
	width: 100%;
	height: 100%;
}

#popup-dialog {
	background: var(--popup-bg);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: .5rem;
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0px 0px 1rem rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: column;
}

#popup-title {
	margin: 1rem;
	font-size: 1.5rem;
	font-weight: bolder;
	flex: 0 0 auto;
}

#popup-body {
	margin: 0 1rem;
	font-size: 1rem;
	overflow-y: scroll;
	flex: 1 1 auto;
}

#popup-operations {
	margin: 1rem;
	text-align: right;
	flex: 0 0 auto;
}

@media only screen and (max-width: 52rem) {
	#app {
		flex-direction: column;
	}
	.sidebar {
		flex: 0 0 auto;
	}
	.sidebar-head {
		display: none;
	}
	#tabs {
		flex-direction: row;
		justify-content: center;
	}
	#tabs a {
		flex-direction: column;
		gap: .25rem;
	}
	#tabs a span:first-child {
		font-size: 1.5rem;
	}
	#tabs a span:nth-child(2) {
		font-size: 1rem
	}
}

@media only screen and (max-width: 38rem) {
	#tabs a span:nth-child(2) {
		display: none
	}
}
