:root {
	--track-banner-bg: #ffffff20;
	--track-controllers-bg: #ffffff10;
}

#track-banner {
	background: var(--track-banner-bg);
	height: 10rem;
	display: flex;
}

#cover {
	opacity: 0;
	flex: 0 0 10rem;
}

/* track title and artist */
#track-banner div {
	flex: 1 1 auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
}

/* track title */
#track-banner span:nth-child(1) {
	font-size: 2rem;
	font-weight: bolder;
}

#track-controllers {
	background: var(--track-controllers-bg);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

/* upper buttons */
#track-controllers > div {
	display: flex;
	gap: .5rem;
	justify-content: space-between;
	user-select: none;
}

#track-controllers span {
	cursor: pointer;
}

#track-controllers .activated {
	color: var(--accent);
}

/* upper left buttons */
#track-controllers > div > div:nth-child(1) {
	display: flex;
	font-size: 2rem;
	gap: .5rem;
	align-items: center;
}

#track-controllers #timestamp {
	font-size: 1rem;
	cursor: default;
}

/* upper right buttons */
#track-controllers > div > div:nth-child(2) {
	display: flex;
	gap: .5rem;
	align-items: center;
}

/* sound control */
#track-controllers > div > div:nth-child(2) > div {
	display: flex;
	align-items: center;
}

#track-controllers #volume {
	width: 5rem;
}

#lyrics {
	text-align: center;
}

@media only screen and (max-width: 38rem) {
	:root {
		--track-banner-bg: transparent;
		--track-controllers-bg: transparent;
	}
	#track-banner {
		flex-direction: column;
		height: auto;
	}
	#cover {
		padding: 1rem;
		flex: auto;
	}
	#track-banner div {
		padding: 1rem 0;
	}
	#track-controllers {
		padding: 0;
	}
	#volume {
		display: none;
	}
}