#adapter-list input {
	width: 80%;
}

#adapter-list td:nth-child(1) {
	width: 25%
}

#adapter-list td:nth-child(2) {
	width: 100%;
}

#adapter-list td:nth-child(4) {
	white-space: nowrap;
}

#adapter-list .shown-on-editing {
    display: none;
}

#adapter-list .hidden-on-editing {
    display: inline;
}

#adapter-list .editing .shown-on-editing {
	display: inline;
}

#adapter-list  .editing .hidden-on-editing {
	display: none;
}

@media only screen and (max-width: 38rem) {
	#adapter-list thead {
		display: none;
	}
	#adapter-list td {
		width: auto !important;
		display: block;
		border-bottom: none;
		text-align: right;
	}
	#adapter-list td::before {
		font-weight: bolder;
		float: left;
	}
	#adapter-list td:nth-child(1)::before {
		content: 'Name';
	}
	#adapter-list td:nth-child(2)::before {
		content: 'Addr.';
	}
	#adapter-list td:nth-child(3)::before {
		content: 'Status';
	}
	#adapter-list td:nth-child(4) {
		border-bottom: 2px solid var(--list-divider);
	}
	#adapter-list input {
		width: auto;
	}
}
